---
import ReactGrid from "../components/ReactGrid/ReactGrid";
import ReactDataGrid from "../components/ReactDataGrid/ReactDataGrid";
import ReactSpreadsheet from "../components/ReactSpreadsheet/ReactSpreadsheet";
import ReactDatasheetGrid from "../components/ReactDatasheetGrid/ReactDatasheetGrid";
import HandsontableComponent from "../components/Handsontable/Handsontable";
import CustomTableWithMergingPossibility from "../components/CustomTableWithMergingPossibility/CustomTableWithMergingPossibility";
import Layout from "../layouts/Layout.astro";
import "../styles.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- <ReactSpreadsheet client:load /> -->
    <!-- <ReactGrid client:load /> -->
    <!-- <ReactDataGrid client:load /> -->
    <!-- <ReactDatasheetGrid client:load /> -->
    <!-- <HandsontableComponent client:load /> -->
    <CustomTableWithMergingPossibility client:load />
  </main>
</Layout>

<style>
  html {
    background-color: white;
  }
  main {
    padding: 1rem;
  }
</style>
