---
import ReactGrid from "../components/ReactSpreadsheet/ReactGrid/ReactGrid";
import ReactSpreadsheet from "../components/ReactSpreadsheet/ReactSpreadsheet";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <!-- <ReactSpreadsheet client:load /> -->
    <ReactGrid client:load />
  </main>
</Layout>

<style>
  html {
    background-color: white;
  }
  main {
    padding: 1rem;
  }
</style>
